# macOS
.DS_Store

# Build artifacts
*.o
*.out
a.out
*.exe
*.dSYM/
build/
cmake-build-*/
logger
converter
bin/
build/
app

# VS Code
.vscode/

# Logs / output
*.log
*.bin

# Temporary
*.swp

# Common compiled outputs
*.out
*.app

# Executable Binaries
*_demo
converter
logger
recorder_demo
packet_builder_demo


